.unfollow_list {
  background-color: #DDDFFF;
  border: 1px solid #000000;
  margin: 10px 10px;
}
.unfollow_box {
  display: flex;
  padding: 0 5px 0 5px;
}
.follow_name {
}
.follow_form {
}
.follow_btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #222222;
  font-size: 15px;
  text-shadow-color: #666666;
  text-shadow-x: 1;
  text-shadow-y: 1;
  text-shadow-blur: 4;
  background: #BBBFFF;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.follow_btn:hover {
  background: #777FFF;
  background-image: -webkit-linear-gradient(top, #999FFF, #AAAFFF);
  background-image: -moz-linear-gradient(top, #999FFF, #AAAFFF);
  background-image: -ms-linear-gradient(top, #999FFF, #AAAFFF);
  background-image: -o-linear-gradient(top, #999FFF, #AAAFFF);
  background-image: linear-gradient(to bottom, #999FFF, #AAAFFF);
  text-decoration: none;
}
