<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title%></title>
  <link rel="stylesheet" type="text/css" href="/css/post.css"/>
  <link rel="stylesheet" type="text/css" href="/css/tab.css"/>
  <link rel="stylesheet" type="text/css" href="/css/stream.css"/>
</head>
<body>
  <%= yield %>
</body>
</html>
