<h3>Login</h3>
<div class="login_form">
  <form method="post" action="http://localhost:9292/auth">
    USER NAME : <input type="text" name="name"/><br>
    USER PASS : <input type="text" name="password"/><br>
    <input type="submit" value="login">
  </form>
</div>
<hr>
<p>if you dont have account? : <a href="http://localhost:9292/users/register">join!</a></p>

