<h3>Register</h3>
<form method="post" action="http://localhost:9292/register">
  <input type="text" name="name" >
  <input type="text" name="password">
  <input type="submit" value="register!">
</form>
