<!-- <p><%= @result%></p> -->
<div align="right">
  <form method="post" action="http://localhost:9292/logout">
    <input type="submit" name="sub" value="logout">
  </form>
</div>
<div class="tweets_page_title">
  <h1>Tweet Text List</h1>
</div>
<a href="unfollows">unfollow user List</a>
<form method="post" action="http://localhost:9292/tweet">
  <!-- <input type="text" name="text" size="23" style="height:50px;"> -->
  <textarea name="text" cols="30" rows="10"></textarea>
  <input type="submit" value="tweet">
</form>
<hr>
<div id="app"></div>

<!-- Load Babel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
<!-- Load React.js -->
<script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
<!-- Load Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.min.js"></script>

<script type="text/babel">
  class App extends React.Component{
    constructor(props) {
      super(props);
    }
    render(){
      const res = <%= @result %>
      const listRes = res.map((x, idx) =>
        <div className="tweets_list">
          <li>
            <div className="tweets_title">
              <h3><a href={"users/"+x["name"]}>{x["name"]}</a>: at {x["create_time"]}</h3>
            </div>
            <div className="tweets_body">
              {x["text"]}
            </div>
            <div>
              <form method="post" action="http://localhost:9292/tweets/reply">
                <textarea name="text" cols="30" rows="3"></textarea>
                <input type="submit" value="reply"/>
              </form>
            </div>
          </li>
        </div>
      );
      return  (<ul className="none">
                 {listRes}
               </ul>)
    }
  }
  ReactDOM.render(<App />, document.getElementById("app"));
</script>
