<!-- <p><%= @result%></p> -->
<div align="right">
  <form method="post" action="http://localhost:9292/logout">
    <%= @name %><input type="submit" name="sub" value="logout">
  </form>
</div>
<div class="tweets_page_title">
  <h1>Tweet Text List</h1>
</div>
<a href="unfollows">unfollow user List</a>
<h4>Tweet!</h4>
<div class="tweets_form">
  <form method="post" action="http://localhost:9292/tweet">
    <input type="hidden" name="reply_tweet_id" value="0"/>
    <textarea name="text" cols="30" rows="5"></textarea>
    <input type="submit" value="tweet" class="btn_tweets_submit"/>
  </form>
</div>
<hr>
<div id="app"></div>

<!-- Load Babel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
<!-- Load React.js -->
<script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
<!-- Load Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.min.js"></script>

<script type="text/babel">
  class App extends React.Component{
    constructor(props) {
      super(props);
    }
    render(){
      const res = <%= @result %>
      const reply_list = res.filter((x) => x["reply_tweet_id"] != 0).sort((a, b) => (a["create_time"] < b["create_time"]) ? -1 : 1);
      const tweet_list = res.filter((x) => x["reply_tweet_id"] == 0).map((x, idx) =>
        <div className="tweets_list">
          <li>
            <div className="tweets_title">
              <h3><a href={"users/"+x["name"]}>{x["name"]}</a>: at {x["create_time"]}</h3>
            </div>
            <div className="tweets_body">
              {x["text"]}
            </div>
            <div className="tweets_form">
              <form method="post" action="http://localhost:9292/tweet">
                <input type="hidden" name="reply_tweet_id" value={x["id"]}/>
                <textarea name="text" cols="30" rows="3"></textarea>
                <input type="submit" value="reply" className="btn_tweets_submit"/>
              </form>
            </div>
            <ul className="none">
              {reply_list.filter((y) => x["id"] == y["reply_tweet_id"]).map((y) => 
                <div className="tweets_list">
                  <li>
                    <div className="tweets_title">
                      <h3><a href={"users/"+y["name"]}>{y["name"]}</a>: at {y["create_time"]}</h3>
                    </div>
                    <div className="tweets_body">
                      {y["text"]}
                    </div>
                  </li>
                </div>
              )}
            </ul>
          </li>
        </div>
      );
      return  (
                <ul className="none">
                  {tweet_list}
                </ul>
              )
    }
  }
  ReactDOM.render(<App />, document.getElementById("app"));
</script>
