<!-- <p><%= @result%></p> -->
<h1>UN Follow Users</h1>
<div id="app"></div>
<hr>
<a href="../timeline">return</a>
<!-- Load Babel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
<!-- Load React.js -->
<script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
<!-- Load Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.min.js"></script>

<script type="text/babel">
  class App extends React.Component{
    constructor(props) {
      super(props);
    }
    render(){
      const res = <%= @result %>
      const listRes = res.map((x, idx) =>
        <li>
          <h3>{x["name"]}</h3>
          <form method="post" action="http://localhost:9292/follows">
            <input type="hidden" name="follow_id" value={x["id"]}/> 
            <input type="submit" value="Follow"/>
          </form>
        </li>
      );
      return <ul> {listRes} </ul>
    }
  }
  ReactDOM.render(<App />, document.getElementById("app"));
</script>
